---
interface Props {
	id?: string;
	class?: string;
}

const { id, class: className = '' } = Astro.props;
---

<section
	id={id}
	class:list={[
		'mx-auto w-full max-w-3xl px-4 sm:px-6 lg:px-8 py-12 sm:py-14 lg:py-16',
		className,
	]}
>
	<slot />
</section>
